body{
    margin: 0px;
    background-image: linear-gradient(180deg, #fff, #7a7f87);
}

/* navigation bar */
.container{
    margin-top: 67px;
    min-height: 92vh;
}

.nav_bar{
    background: #7a7f87;
    margin: 0px;
    padding: 0px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

.nav_bar .user_information_nav_bar{
    margin: 0px;
    padding: 5px;
    float: right;
}

.nav_bar .user_information_nav_bar .name{
    color: #000;
    margin: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 5px;
    float: left;
    text-align: center;
}

.nav_bar .user_information_nav_bar img{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav_bar .logout{
    font-size: 28px;
    padding: 9.5px;
    color: #000;
    float: right;
}

.nav_bar .logout:visited{
    color: #000;
}

.nav_bar .user_information_nav_bar .name:visited{
    color: #000;
}

.nav_bar .navigation_menu{
    float: left;
    padding-top: 13.5px;
    padding-left: 70px;
    color: #000;
}

.nav_bar .navigation_menu a{
    color: #000;
    padding-right: 10px;
}

/* account page */
.account-details-container p img{
    width: 100px;
    height: 100px;
}

.account-details-container .left-account-details{
    float: left;
    margin: 10px;
}

.account-details-container .right-account-details{
    float: left;
    margin: 10px;
}

/* users list */
.users-list .user{
    width: 200px;
    height: 200px;
    float: left;
}

.users-list .user .userListImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 13px;
}

.users-list .user p{
    text-align: center;
}

.recivedMessageSmall
{
    border: 1px solid;
}

.sendedMessageSmall
{
    border: 1px solid;
}

/*Main site*/
.Your_recived_message .recivedMessageContainer .leftSideRecivedMessage{
    width: 25%;
    float: left;
    height: 608px;
    overflow-y: auto;
    margin-left: 10px;
    border: solid 1px;
}

.Your_recived_message .recivedMessageContainer .rightSideRecivedMessage{
    height: 608px;
    position: absolute;
    width: 73%;
    left: 25.4%;
    margin-left: 10px;
    overflow-y: auto;
    border: solid 1px;
}

.Your_recived_message .recivedMessageContainer .rightSideRecivedMessage textarea{
    margin: 0px;
    width: 73%;
    height: 380px;
    overflow-y: auto;
    resize: none;
}

.Your_recived_message .recivedMessageContainer .rightSideRecivedMessage textarea:disabled{
    color: #000000;
    cursor: default;
    background-color: #ffffff;
}

.Your_recived_message .recivedMessageContainer .rightSideRecivedMessage  .files{
    margin: 0px;
}




.Your_send_message .sendedMessageContainer .leftSideSendedMessage{
    width: 25%;
    float: left;
    height: 608px;
    overflow-y: auto;
    margin-bottom: 50px;
    margin-left: 10px;
    border: solid 1px;
}

.Your_send_message .sendedMessageContainer .rightSideSendedMessage{
    height: 608px;
    position: absolute;
    width: 73%;
    left: 25.4%;
    margin-left: 10px;
    overflow-y: auto;
    border: solid 1px;
}

.Your_send_message .sendedMessageContainer .rightSideSendedMessage textarea{
    margin: 0px;
    width: 73%;
    height: 380px;
    overflow-y: auto;
    resize: none;
}

.Your_send_message .sendedMessageContainer .rightSideSendedMessage textarea:disabled{
    color: #000000;
    cursor: default;
    background-color: #ffffff;
}

.Your_send_message .sendedMessageContainer .rightSideSendedMessage  .files{
    margin: 0px;
}

/* Admin panel */

.addNewGroup{
    float: left;
    margin: 50px;
    width: 25%;
    height: 240px;
    border: 1px solid;
    padding: 10px;
}

.editGroup{
    float: left;
    margin: 50px;
    width: 25%;
    height: 240px;
    border: 1px solid;
    padding: 10px;
}

.deleteGroup{
    float: left;
    margin: 50px;
    width: 25%;
    height: 240px;
    border: 1px solid;
    padding: 10px;
}

input[name=addNewName]{
    width: 98%;
}

select[name=addNewUsers]{
    width: 100%;
    margin-bottom: 26px;
}

 input[name=editName]{
     width: 98%;
 }

select[name=editUsers]{
    width: 100%;
    margin-bottom: 26px;
}

select[name=deleteName]{
    width: 100%;
    margin-bottom: 95px;
}

.addNewGroupTitle{
    text-align: center;
    font-weight: bold;
}

.editGroupTitle{
    text-align: center;
    font-weight: bold;
}

.deleteGroupTitle{
    text-align: center;
    font-weight: bold;
}